.home {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.home-title {
    height: 30%;
}

.home-container {
    flex: 1 1 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-twitch-button {
    background-color: purple;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    transition: border-color 0.25s;
}